.footer-sec i {
    font-size: 25px !important;
    color: gray;
  }
  
  .footer-sec {
    padding: 10px 30px;
  }
  
  .footer-container{
    width: 100%;
      position: fixed;
      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%);
      margin-top: 150px !important;
      background-color: white !important;
  }