.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom styling start  */

.green-text{
  color: #61B846 !important;
}

.blue-text{
  color: #024F9D !important;
}

.theme-btn{
  background-color: #61B846 !important;
  color: white !important;
}

/* form stytling  */

.input-fields input {
  border-radius: 0px !important;
  border: none !important;
  color: grey;}
  .input-fields .input-group {
    margin-bottom: 17px;
    border-bottom: 1px solid gray;
  }
  .input-fields .input-group i{
    color: grey !important;
  }
  
  .input-fields input:focus {
    box-shadow: none !important;
    border: none !important;
  }
  
  .c-pointer{
    cursor: pointer;
  }
  
  .admin-top-bar {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }
  
  .hp-card {
    padding: 10px 40px;
    border: 1px solid #61B846;
    border-radius: 33px;
  }
  
  .footer-sec i {
    font-size: 25px !important;
    color: gray;
  }
  
  .footer-sec {
    padding: 10px 30px;
  }
  
  .footer-container{
    width: 100%;
      position: fixed;
      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%);
      margin-top: 150px !important;
      background-color: white !important;
  }
  
  .horizontal-card-sec.container {
    margin-bottom: 120px;
  }